{
  "openapi": "3.0.3",
  "info": {
    "title": "Inagent API",
    "version": "1.0.0",
    "description": "Referencia OpenAPI mínima para endpoints públicos documentados de Inagent."
  },
  "servers": [
    {
      "url": "https://api.backend.inconcertcc.com"
    }
  ],
  "paths": {
    "/engine/v1/api/reports/sessions-detail": {
      "get": {
        "summary": "Reporte estándar de sesiones",
        "description": "Obtiene detalle de sesiones para un equipo y rango temporal.",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crew_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end_ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte devuelto correctamente"
          },
          "401": {
            "description": "API Key inválida o ausente"
          }
        }
      }
    },
    "/engine/v1/api/reports/execute-report/{reportId}": {
      "get": {
        "summary": "Ejecutar reporte personalizado",
        "description": "Ejecuta un reporte personalizado por identificador.",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crew_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupByTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end_ts",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timeZone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reporte devuelto correctamente"
          },
          "401": {
            "description": "API Key inválida o ausente"
          },
          "404": {
            "description": "Reporte no encontrado"
          }
        }
      }
    }
  }
}
